.container {
  width: 800px;
  height: 250px;
  background: grey;
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.item {
  position: absolute;
  top: 10%;
  bottom: 10%;


  /* align-self: flex-end; */
}

.green {
  background: #51d400;
  left: 7.5%;
  right: 67.5%;
}

.yellow {
  background: #ffd62a;
  left: 37.5%;
  right: 37.5%;
}

.purple {
  background: #b02aff;
  left: 67.5%;
  right: 7.5%;
}