* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

#giphylist {
  display: flex;
  flex-wrap: wrap;
  background: lightcyan;
  width: 100%;
}

.listview {
  width: 250px;
  height: calc(150px/4*3);
  object-fit: cover;
  border: 2px solid white;
}