.container {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  min-width: 25%;
  height: 190px;
  padding: 0;
  margin: 0;
  align-self: flex-end;
}

.green {
  background: #51d400;
}

.yellow {
  background: #ffd62a;
  width: 50%;
}

.purple {
  background: #b02aff;
}

@media screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }
  .item {
    min-width: 100%;
  }
}